<div class="fixed bottom-0 bg-sky-400 w-full h-12">
  <div class="flex">
    <a
      class="cursor-pointer flex gap-3 p-3"
      href="https://github.com/Wellington-Climaco/case-backend-banco-pan"
      target="_blank"
    >
      <i class="pi pi-github"></i>
      <p class="font-bold">backend</p>
    </a>
    <a
      class="cursor-pointer flex gap-3 p-3"
      href="https://github.com/Wellington-Climaco/front-case-software-enginner"
      target="_blank"
    >
      <i class="pi pi-github"></i>
      <p class="font-bold">frontend</p>
    </a>
  </div>
</div>
